/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;

}

.mat-toolbar.mat-primary {
    background: #0D5EAA;
    color: #ffff;
}

.text-center {
    text-align: center;
}

.ml20 {
    margin-left: 20px;

}

.mr20 {
    margin-right: 20px;

}

.mt20 {
    margin-top: 20px;

}

.mb20 {
    margin-bottom: 20px;

}

.ml10 {
    margin-left: 10px;

}

.mr10 {
    margin-right: 1010px;

}

.mt10 {
    margin-top: 10px;

}

.mb10 {
    margin-bottom: 10px;

}

.color {
    color: #0D5EAA;
}